<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FollowUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FollowUp.Properties.Settings.ConnectionString" connectionString="Dsn=MS Access Database"
            providerName="System.Data.Odbc" />
        <add name="FollowUp.Properties.Settings.FollowUpConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\WAEG00202\portal\TDO-Quality Improvement\FollowUp-Tool\FollowUp.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FollowUp.Properties.Settings.OFFERConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\WAEG00202\portal\TDO-Quality Improvement\FollowUp-Tool\FollowUp.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FollowUp.Properties.Settings>
            <setting name="RemoteDBLOC" serializeAs="String">
                <value>\\WAEG00202\portal\TDO-Quality Improvement\FollowUp-Tool\FollowUp.accdb</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateLink" serializeAs="String">
                <value>\\WAEG00202\portal\TDO-Quality Improvement\FollowUp-Tool</value>
            </setting>
            <setting name="UpdateVersion" serializeAs="String">
                <value>1.01.02</value>
            </setting>
            <setting name="UpdateFile" serializeAs="String">
                <value>FollowUpX64.msi</value>
            </setting>
        </FollowUp.Properties.Settings>
    </userSettings>
</configuration>